/*body{
  margin:0;
  color:#6a6f8c;
  background:#c8c8c8;
  font:600 16px/18px 'Open Sans',sans-serif;
}*/
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:500px;
  position:relative;
  background-image: url(img/tobacco.png) no-repeat center;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:90px 70px 50px 70px;
  background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form .group .button{
  background:#1161ee;
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}

/*CSS RESPONSIVE*/
h3 {   
   margin: 25px auto 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
}
/* Table */
table {
    margin: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Segoe Ui";
    font-size: 12px;

}
.demo-table {
  border-collapse: collapse;
  font-size: 13px;
}
.demo-table th, 
.demo-table td {
  border: 1px solid #e1edff;
  border-top: 0;
  border-right: 0;
  padding: 7px 17px;
}
.demo-table th, 
.demo-table td:last-child {
  border-right: 1px solid #e1edff;
}
caption.title {
  caption-side: top;
  margin-bottom: 10px;
}

/* Table Header */
.demo-table thead th {
  background-color: #508abb;
  color: #FFFFFF;
  border-color: #6ea1cc !important;
  text-transform: uppercase;
}

/* Table Body */
.demo-table tbody td {
  color: #353535;
  position: relative;
  white-space: nowrap;
}

.demo-table tbody tr:nth-child(odd) {
  background-color: #f4fbff;
}
.demo-table tbody tr:hover th,
.demo-table tbody tr:hover td {
  background-color: #ffffa2;
  border-color: #ffff0f;
  transition: all .2s;
}
.demo-table tbody td:empty
{
  background-color: #ffcccc;
}

a.remove {
  color: red;
  font-size: 23px;
  float: left;
}

a.remove {
  line-height: 0.1;
}

a.edit {
  color: #35b103;
  margin-right: 5px;
  font-size: 20px;
  float: left;
}

.toolbox {
  width: 45px;
}
a.more {
  color: #717171;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  display: none;
}

.table-container {
  overflow: auto;
}

@media screen and (max-width: 520px) {
  table.responsive {
    width: 100%;
  }
  .res1 thead {
    display: none;
  }
  .res1 td {
    display: block;
    text-align: right;
    border-right: 1px solid #e1edff;
  }
  .res1 td::before {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    content: attr(data-header);
  }
  
  .res2 thead th.column-primary {
    width: 100%;
  }

  .res2 thead th:not(.column-primary) {
    display:none;
  }
  
  .res2 th[scope="row"] {
    vertical-align: top;
  }
  
  .res2 td {
    display: block;
    width: auto;
    text-align: right;
  }
  .res2 thead th::before {
    text-transform: uppercase;
    font-weight: bold;
    content: attr(data-header);
  }
  .res2 thead th:first-child span {
    display: none;
  }
  .res2 td::before {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    content: attr(data-header);
  }
  
  .res3 .more {
    display: block;
  }
  .res3 thead th.column-primary {
    width: 100%;
  }
  
  .res3 thead th:not(.column-primary) {
    display:none;
  }
  
  .res3 th[scope="row"] {
    vertical-align: top;
  }
  
  .res3 td {
    display: block;
    width: auto;
  }
  
  .res3 td:nth-child(n+2)::before {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    content: attr(data-header);
    width: 80px;
  }
  
  .res3 .expanded td:nth-child(n+2) {
    display: block;
  
  }
  
  .res3 td:nth-child(n+2) {
    display: none;
  }
  
  a.remove, a.remove i {
    line-height: 0.7;
  }
  a.remove {
    font-size: 20px;
  }

  a.edit {
    font-size: 18px;
    line-height: 0;
  }
}
/* inner navigation bar */
ul.inner-navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #508abb;
}

li {
  float: left;
}

li a.inner-navbar {
  display: block;
  padding: 20px;
  background-color: #508abb;
  color: white;
}

li a.inner-navbar:hover {
  color: #dddddd;
}

li a.inner-navbar-active {
  display: block;
  padding: 20px;
  background-color: #a9c8e2;
  color: black;
}
